.angular
.idea
.git
custom
dist
dist-addin
node_modules
plugins/addin-outlook/node_modules
test/unitTests/build
vendor

*.log*
sonar-project.properties
ci
docker.env
Dockerfile
Dockerfile.new
phpstan.neon
compose.yml
phpunit.xml
karma.conf-ci.js
plugins
config_dec.ini
karma.conf.js
