<div class="mat-dialog-content-container">
    <h1 mat-dialog-title class="externalSignatoryBookTitle">
        {{data.action?.label}} &nbsp; <div *ngIf="authService.externalSignatoryBook !== null" class="badge" [title]="'lang.enabledSignatoryBook' | translate">
            {{getTitle()}}
         </div>
    </h1>
    <div mat-dialog-content>
        <div *ngIf="loading" class="loading" style="display:flex;height:100%;">
            <mat-spinner style="margin:auto;"></mat-spinner>
        </div>
        <mat-sidenav-container *ngIf="!functions.empty(authService.externalSignatoryBook)" autosize style="height:100%;">
            <mat-sidenav-content style="background: white;" [ngStyle]="{'width': data.resIds.length === 1 ? '580px' : ''}">
                <div class="row" style="margin: 0;">
                    <div class="col-md-12">
                        {{'lang.makeActionOn' | translate}}
                        <b *ngIf="data.resIds.length === 0" color="primary"
                            class="highlight">{{'lang.currentIndexingMail' | translate}}</b>
                        <b *ngIf="data.resIds.length === 1" color="primary"
                            class="highlight">{{data.resource.chrono}}</b>
                        <b *ngIf="data.resIds.length > 1" color="primary" class="highlight">{{data.resIds.length}}
                            {{'lang.elements' | translate}}</b> ?
                    </div>
                    <div *ngIf="data.resIds.length === 1" class="toggleIntegration">
                        <button *ngIf="data.resIds.length === 1" class="attachmentIcon" color="primary"
                            mat-icon-button [title]="getIntegratedAttachments() + ' ' + ('lang.attachmentsInSignatoryBook' | translate)"
                            (click)="onSidenavStateChanged()">
                            <mat-icon fontSet="fas"
                                [matBadge]="getIntegratedAttachments()"
                                fontIcon="fa-paperclip fa-2x">
                            </mat-icon>
                        </button>
                        <mat-checkbox color="primary" *ngFor="let inteKey of integrationsInfo | keyvalue"
                            (click)="toggleIntegration(inteKey.key)"
                            [checked]="data.resource.integrations[inteKey.key]">{{'lang.' + inteKey.key + '_doc' | translate}}
                        </mat-checkbox>
                    </div>
                    <div *ngIf="resourcesMailing.length > 0" class="alert-message alert-message-info" role="alert">
                        <p>{{'lang.mailingActionInformations' | translate}}</p>
                        <ul>
                            <li *ngFor="let ressource of resourcesMailing">
                                <b>{{ressource.alt_identifier}}</b>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <app-i-paraph #iParapheur *ngIf="['iParapheur', 'pastell'].indexOf(authService.externalSignatoryBook.id) > -1 && !loading"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas">
                        </app-i-paraph>
                        <app-ixbus-paraph #ixbus *ngIf="authService.externalSignatoryBook.id === 'ixbus' && !loading"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas">
                        </app-ixbus-paraph>
                        <app-fast-paraph #fastParapheur *ngIf="!loading && authService.externalSignatoryBook.id === 'fastParapheur' && externalSignatoryBook.signatoryBookEnabled === ''"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas">
                        </app-fast-paraph>
                        <app-maarch-paraph #externalSignatoryBookComponent
                            *ngIf="!functions.empty(externalSignatoryBook.signatoryBookEnabled) && !loading"
                            [resIds]="data.resIds"
                            [resourcesToSign]="resourcesToSign"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas"
                            (workflowUpdated)="visaWorkflowClone = $event">
                        </app-maarch-paraph>
                        <app-x-paraph #xParaph *ngIf="authService.externalSignatoryBook.id === 'xParaph' && !loading"
                            [additionalsInfos]="additionalsInfos"
                            [externalSignatoryBookDatas]="externalSignatoryBookDatas"></app-x-paraph>
                        <div class="col-md-12"
                            *ngIf="additionalsInfos.noAttachment.length !== 0 && externalSignatoryBookDatas.objectSent === 'attachment'">
                            <div>
                                <div class="alert-message alert-message-danger mailList" role="alert">
                                    <p>
                                        {{'lang.canNotMakeAction' | translate}} :
                                    </p>
                                    <ul>
                                        <li *ngFor="let attachment of additionalsInfos.noAttachment">
                                            <b>{{attachment.alt_identifier}}</b> : {{'lang.' + attachment.reason | translate}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 10px;">
                        <app-note-editor #noteEditor [resIds]="data.resIds"></app-note-editor>
                    </div>
                    <ng-container *ngIf="showToggle">
                        <div class="col-md-12" style="margin: 10px 0px 10px 0px;">
                            <mat-slide-toggle name="history" color="primary"
                                [title]="'lang.canGoToNextResDesc' | translate" [(ngModel)]="canGoToNextRes" [checked]="canGoToNextRes">
                                {{'lang.canGoToNextRes' | translate}}
                            </mat-slide-toggle>
                        </div>
                        <mat-divider></mat-divider>
                    </ng-container>
                </div>
            </mat-sidenav-content>
            <mat-sidenav *ngIf="data.resIds.length === 1" #snav2
                position='end'
                autoFocus="false"
                fixedTopGap="56"
                [mode]="appService.getViewMode() ? 'over' : 'side'"
                [opened]="true"
                [ngStyle]="{'width': '600px'}"
                style="overflow-x:hidden;">
                <app-attachments-list #attachmentsList
                    [isModal]="true"
                    [resId]="data.resIds[0]"
                    (afterActionAttachment)="afterAttachmentToggle($event)">
                </app-attachments-list>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button mat-button color="primary" [disabled]="loading || !isValidAction()"
            (click)="onSubmit()">{{'lang.validate' | translate}}</button>
        <button mat-raised-button mat-button [disabled]="loading" [mat-dialog-close]="">{{'lang.cancel' | translate}}</button>
    </div>
</div>