<div class="login-content">
    <mat-icon svgIcon="maarchLogoWhiteFull" class="maarchLogo"></mat-icon>
    <mat-card class="login-form">
        <form (ngSubmit)="generateLink()">
            <div class="alert-message alert-message-info" [innerHTML]="'lang.afterClickingSendLinkChangePassword' | translate">
            </div>
            <mat-form-field class="input-row">
                <input name="login" type="text"
                    matInput
                    autofocus
                    [placeholder]="'lang.enterLogin' | translate"
                    (keyup)="containsSpaces(newLogin.login)"
                    [(ngModel)]="newLogin.login" oninput="this.value = this.value.toLowerCase()">
            </mat-form-field>
            <button type="submit" mat-button [disabled]="hasError || newLogin.login === '' || loading">{{labelButton | translate}}</button>
            <button type="button" mat-button (click)="cancel();">{{'lang.cancel' | translate}}</button>
        </form>
    </mat-card>
</div>