<div class="mat-dialog-content-container">
    <h1 mat-dialog-title>
        <span style="flex: 1;">
            {{'lang.aboutUs' | translate}}
        </span>
        <button *ngIf="!loading" [title]="'lang.close' | translate" mat-icon-button (click)="dialogRef.close();">
            <mat-icon class="fa fa-times"></mat-icon>
        </button>
    </h1>
    <div *ngIf="loading" style="display:flex;height:100%;">
        <mat-spinner style="margin:auto;"></mat-spinner>
    </div>
    <mat-card mat-dialog-content *ngIf="!loading" class="card-app-content" style="min-height: 90% !important;">

        <div class="col-sm-4">
           
            <p>&nbsp;</p>
            <div class="img_credits_maarch_box">
                <mat-icon svgIcon="maarchBox" style="width: 100%;height: auto;"></mat-icon>
            </div>
        </div>
    </mat-card>
</div>
