<mat-accordion style="margin: 10px;">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title class="primary">
                Circuit de visa
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-visa-parameters></app-visa-parameters>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="primary">
                Circuit d'avis
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-avis-parameters></app-avis-parameters>
    </mat-expansion-panel>
</mat-accordion>