
.tile-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 90px;
    opacity: 0.06;
}
.link {
    cursor: pointer;
}
.empty-data {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: #b8c3cb;
    text-align: center;
    padding: 20px;
}
