<mat-nav-list>
    <h3 mat-subheader>{{'lang.actions' | translate}}</h3>

    <a mat-list-item routerLink="/administration/mercure">
        <mat-icon color="primary" mat-list-icon class="fa fa-cogs"></mat-icon>
        <p mat-line>
            {{'lang.informations' | translate}}
        </p>
    </a>
    <a mat-list-item *ngIf="!config.enabledLad" (click)="launchTest()" [disabled]="loading">
        <mat-icon mat-list-icon class="green fas fa-plug"></mat-icon>
        <p mat-line>
            {{'lang.testAndActivate' | translate}}
        </p>
        <span *ngIf="loading" style="display:flex;height:24px;width:24px;">
            <mat-spinner style="margin:auto;" [diameter]="24"></mat-spinner>
        </span>
    </a>

    <a mat-list-item *ngIf="config.enabledLad" (click)="setLadConf(false)" [disabled]="loading">
        <mat-icon color="warn" mat-list-icon class="fas fa-plug-circle-bolt"></mat-icon>
        <p mat-line>
            {{'lang.disableMercureLad' | translate}}
        </p>
        <span *ngIf="loading" style="display:flex;height:24px;width:24px;">
            <mat-spinner style="margin:auto;" [diameter]="24"></mat-spinner>
        </span>
    </a>

    <a mat-list-item routerLink="/administration/mercure/contacts" >
        <mat-icon color="primary" mat-list-icon class="fa fa-address-book"></mat-icon>
        <p mat-line>
            {{'lang.ladContactsManagement' | translate}}
        </p>
    </a>
</mat-nav-list>