<?xml version="1.0" encoding="utf-8"?>
<root>
    <config>
        <ldap>
            <type_ldap>adLDAP</type_ldap>
            <domain>ldap://10.16.220.10:389</domain>
            <baseDN></baseDN>
            <prefix_login>ANAM</prefix_login>
            <suffix_login></suffix_login>
            <ssl>false</ssl>
            <standardConnect>true</standardConnect>
            <login_admin></login_admin>
            <pass></pass>
        </ldap>
        <ldap>
            <type_ldap>adLDAP</type_ldap>
            <domain>ldap://10.16.220.10:389</domain>
            <baseDN></baseDN>
            <prefix_login>CORP</prefix_login>
            <suffix_login></suffix_login>
            <ssl>false</ssl>
            <standardConnect>true</standardConnect>
            <login_admin></login_admin>
            <pass></pass>
        </ldap>
        <ldap>
            <type_ldap>adLDAP</type_ldap>
            <domain>ldap://10.16.220.10:389</domain>
            <baseDN></baseDN>
            <prefix_login></prefix_login>
            <suffix_login>@corp.anam.dz</suffix_login>
            <ssl>false</ssl>
            <standardConnect>true</standardConnect>
            <login_admin></login_admin>
            <pass></pass>
        </ldap>
        <ldap>
            <type_ldap>adLDAP</type_ldap>
            <domain>ldap://10.16.220.10:389</domain>
            <baseDN></baseDN>
            <prefix_login></prefix_login>
            <suffix_login></suffix_login>
            <ssl>false</ssl>
            <standardConnect>true</standardConnect>
            <login_admin></login_admin>
            <pass></pass>
        </ldap>
        <ldap>
            <type_ldap>adLDAP</type_ldap>
            <domain>ldap://10.16.220.11:389</domain>
            <baseDN></baseDN>
            <prefix_login>ANAM</prefix_login>
            <suffix_login></suffix_login>
            <ssl>false</ssl>
            <standardConnect>true</standardConnect>
            <login_admin></login_admin>
            <pass></pass>
        </ldap>
        <ldap>
            <type_ldap>adLDAP</type_ldap>
            <domain>ldap://10.16.220.11:389</domain>
            <baseDN></baseDN>
            <prefix_login></prefix_login>
            <suffix_login></suffix_login>
            <ssl>false</ssl>
            <standardConnect>true</standardConnect>
            <login_admin></login_admin>
            <pass></pass>
        </ldap>
    </config>
    <userWS>superadmin</userWS>
    <passwordWS>superadmin</passwordWS>
    <synchronizeUsers>false</synchronizeUsers>
    <synchronizeEntities>false</synchronizeEntities>
    <mapping>
        <user>
            <user_id>samaccountname</user_id>
            <firstname>givenname</firstname>
            <lastname>sn</lastname>
            <phone>telephonenumber</phone>
            <mail>mail</mail>
            <user_entity>memberof</user_entity>
            <defaultEntity></defaultEntity>
        </user>
        <entity>
            <entity_id>objectguid</entity_id>
            <entity_label>samaccountname</entity_label>
            <parent_entity_id>memberof</parent_entity_id>
        </entity>
    </mapping>
    <filter>
        <dn id="DC=corp,DC=anam,DC=dz" type="users">
            <user>(sAMAccountName=*)</user>
        </dn>
    </filter>
</root>
